<div [ngSwitch]="assets.hero">
  <div class="header" *ngSwitchCase="'Druid'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Hunter'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Mage'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Paladin'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Priest'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Rogue'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Shaman'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Warlock'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
  <div class="header" *ngSwitchCase="'Warrior'" [ngStyle]="{'background-image': 'url(' + assets.header + ')'}">
    <h2 fxLayout="column" fxLayoutAlign="end center" class="title">
      {{format + ' ' + assets.hero + ' ' + 'deck' | titlecase }}
    </h2>
  </div>
</div>
<div fxLayout="row" class="filter-bar" fxLayoutAlign="space-evenly center">
  <div fxLayout="row" class="icons">
    <a class="card-icon" [ngStyle]="{'background-image': 'url(' + assets.classIcon + ')'}" role="button"
      (click)="onShowClassCards()" [class.selected]="areClassCardsShown" style="margin-right: 15px;"></a>
    <a class="card-icon"
      [ngStyle]="{'background-image': 'url(' + '../../../../assets/images/icons/neutral_minions_icon.png' + ')'}"
      role="button" [class.selected]="areNeutralCardsShown" (click)="onShownNeutralCards()"></a>
  </div>
  <div class="mana-filter" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div *ngFor="let mana of manaCosts; let i=index">
        <button id="mana" class="mana-crystal" type="button" [class.manaSelected]="mana.selected"
          (click)="onManaCostSelected(mana)">
          <h4>{{ mana.cost }}</h4>
        </button>
      </div>
    </div>
  </div>
  <div class="search-bar mana-filter" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon matPrefix [ngStyle]="{'color':'#FFD700'}">search</mat-icon>
    <input placeholder="Search" class="search-field" (keyup.enter)="onSearchPhrase($event)" [(ngModel)]="searchFilter">
    <a (click)="onClearSearchFilter()" style="cursor: pointer; max-width: 24px; max-height: 24px;">
      <mat-icon matSuffix color="warn" style="width: 100%; height: 100%;">cancel_outline</mat-icon>
    </a>
  </div>
</div>
<div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate" class="spinner" fxFlexAlign="center"></mat-progress-spinner>
</div>
<div fxLayout="row-reverse wrap" class="card-box" fxLayoutAlign="start start">
  <div class="banner-container" fxLayout="row" fxLayoutAlign="center center"
    [ngStyle]="{'background': 'url(' + assets.heroBanner + ') no-repeat center center'}"
    *ngIf="(!isLoading && areClassCardsShown) || !!hasFoundNoCards">
    <h4 fxFlexAlign="center" style="padding-bottom: 5px;">{{assets.hero | titlecase}}</h4>
  </div>
  <div class="deck-assembler-container" fxFlex="30">
    <div class="deck-assembler" *ngIf="isDeckAssemblerShown && !isLoading">
      <app-deck-assembler></app-deck-assembler>
    </div>
  </div>
  <div class="error-container" fxLayout="row" *ngIf="hasFoundNoCards">
    <div class="error-wrapper">
      <div class="error-background" fxLayout="row" fxLayoutAlign="center center"></div>
      <div class="error-border" fxLayout="row" fxLayoutAlign="center end"></div>
    </div>
    <div class="error-message-wrapper" fxLayout="row" fxFlexAlign="center" fxLayoutAlign="center end">
      <h5 style="color: rgb(97, 67, 38);">No cards found</h5>
    </div>
  </div>
  <!-- Initialy shown class cards -->
  <div class="card-wrapper" fxLayout="row wrap" [ngClass]="{'hideClassCardsContainer': !areClassCardsShown}" fxFlex="70"
    *ngIf="!hasFoundNoCards">
    <div class="card" *ngFor="let card of getClassCards()">
      <a role="button" (click)="onAddToDeckAssembler(card)" fxLayout="row" fxLayoutAlign="center start"
        [ngClass]="{'locked': card.maxCount === card.count}" *ngIf="areClassCardsShown">
        <img [src]="card.image" [alt]="card.name">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="end" *ngIf="card.isAdded" [ngClass]="{
            'cardAdded': card.maxCount > card.count,
            'cardLocked': card.maxCount === card.count,
            'locked': card.maxCount === card.count}">
          <h4 style="margin-left: 5px; text-align: center;"> {{card.count}} / {{ card.isLegendary ? '1' : '2' }}
          </h4>
        </div>
      </a>
    </div>
  </div>
  <div class="banner-container neutrals-banner" fxLayout="row" fxLayoutAlign="center center"
    *ngIf="(!isLoading && areNeutralCardsShown) || !!hasFoundNoCards">
    <h4 fxFlexAlign="center" style="padding-bottom: 5px;">Neutral</h4>
  </div>
  <!-- Initialy shown neutral cards -->
  <div fxLayout="row wrap" fxLayoutAlign="start start" class="card-wrapper" style="margin-left: 20px;" fxFlex="70"
    *ngIf="!hasFoundNoCards">
    <div class="card" *ngFor="let card of getNeutralCards()" fxLayout="row wrap" fxLayoutAlign="start start">
      <a role="button" (click)="onAddToDeckAssembler(card)" fxLayout="row" fxLayoutAlign="center start"
        [ngClass]="{'locked': card.maxCount === card.count}" *ngIf="areNeutralCardsShown">
        <img [src]="card.image" [alt]="card.name">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="end" *ngIf="card.isAdded" [ngClass]="{
        'cardAdded': card.maxCount > card.count,
        'cardLocked': card.maxCount === card.count,
        'locked': card.maxCount === card.count}">
          <h4 style="margin-left: 5px; text-align: center;"> {{card.count}} / {{ card.isLegendary ? '1' : '2' }}</h4>
        </div>
      </a>
    </div>
  </div>

</div>
