<mat-toolbar class="toolbar">
  <a class="logo" routerLink="/"></a>
  <mat-nav-list fxLayout="row">
    <mat-list-item >
      <a class="menu-item" routerLink="/news" routerLinkActive="active">News</a>
    </mat-list-item>
    <mat-list-item>
      <a class="menu-item" routerLink="/deckbuilder" routerLinkActive="active">Deck Builder</a>
    </mat-list-item>
    <mat-list-item>
      <a class="menu-item" routerLink="draw" routerLinkActive="active">Draw Chance Calculator</a>
    </mat-list-item>
    <mat-list-item *ngIf="isAuthenticated">
      <a class="menu-item" routerLink="/mydecks" routerLinkActive="active">My Decks</a>
    </mat-list-item>
  </mat-nav-list>
  <div fxFlex fxLayoutAlign="end center">
    <mat-nav-list fxLayout="row">
      <mat-list-item *ngIf="isAuthenticated; else loggedOut">
        <a class="menu-item" (click)="onLogout()">Log out</a>
      </mat-list-item>
      <ng-template #loggedOut>
        <mat-list-item>
          <a class="menu-item" routerLink="/auth/login" routerLinkActive="active">Log in</a>
        </mat-list-item>
        <mat-list-item>
          <a class="menu-item" routerLink="/auth/signup" routerLinkActive="active">Sign up</a>
        </mat-list-item>
      </ng-template>
    </mat-nav-list>
  </div>
</mat-toolbar>
