<div fxLayout="row" fxLayoutAlign="center center">
  <h2>Log in</h2>
</div>
<div *ngIf="isLoading" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate" class="spinner"></mat-progress-spinner>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutAlign="center center" class="form-container" *ngIf="!isLoading">
    <mat-form-field appearance="outline" style="margin-bottom: 20px;">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your e-mail" type="email" formControlName="email" id="email">
      <mat-icon matPrefix>email</mat-icon>
      <mat-error *ngIf="loginForm.get('email')">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" [type]="isPasswordHidden ? 'password' : 'text'"
        formControlName="password">
      <button mat-icon-button matSuffix (click)="isPasswordHidden = !isPasswordHidden"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordHidden">
        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="50px">
      <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit">Log in</button>
    </div>
  </div>
</form>
