<div fxLayout="row" fxLayoutAlign="center center">
  <h2>Create new account</h2>
</div>
<div *ngIf="isLoading" fxLayoutAlign="center center" fxLayout="row">
  <mat-progress-spinner mode="indeterminate" class="spinner"></mat-progress-spinner>
</div>

<form [formGroup]="singupForm" (ngSubmit)="onRegister()">
  <div fxLayout="column" fxLayoutAlign="center center" formGroupName="personalData">
    <mat-form-field appearance="outline" class="form-data">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Enter you first name" type="text" formControlName="firstName" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-data">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Enter you last name" type="text" formControlName="lastName" autocomplete="off">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="birthday" formControlName="date" placeholder="Date of Birth" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
      <mat-datepicker #birthday disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" formGroupName="accountData">
    <mat-form-field appearance="outline" class="form-data">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter e-mail" formControlName="email" autocomplete="off">
      <mat-error *ngIf="singupForm.get('accountData').get('email').invalid">You must enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-data">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter password" formControlName="password" type="password" autocomplete="off">
      <div *ngIf="singupForm.get('accountData.password').invalid && singupForm.get('accountData.password').touched">
        <hr>
        <mat-list>
          <mat-list-item *ngFor="let requirement of passwordRequirements">
            <mat-icon mat-list-icon>info_outline</mat-icon>
            <p>{{ requirement }}</p>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-data">
      <mat-label>Secret Question</mat-label>
      <mat-select formControlName="secretQuestion">
        <mat-option *ngFor="let question of secretQuestions" [value]="question" style="background: #E7D4A9;">{{ question }}</mat-option>
      </mat-select>
      <mat-error *ngIf="singupForm.get('accountData.secretQuestion').invalid">You must select an option</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-data">
      <mat-label>Answer</mat-label>
      <input matInput formControlName="secretAnswer" type="text">
      <mat-error *ngIf="singupForm.get('accountData.secretAnswer').invalid">This field is required</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" class="form-data" style="margin-top: 10px;" [disabled]="singupForm.invalid">Create Account</button>
  </div>
</form>
